# Key        GPIO Pin        Console Button

UP              19           # D-PAD UP
DOWN            6            # D-PAD DOWN
LEFT            16           # D-PAD LEFT
RIGHT           5            # D-PAD RIGHT

ENTER           21           # START
RIGHTSHIFT      23           # SELECT
ESC             24           # HOME

A               3            # BUTTON A 
B               15           # BUTTON B 
X               2            # BUTTON X 
Y               14           # BUTTON Y 

Q               20           # LEFT SHOULDER
E               4            # RIGHT SHOULDER

MINUS           26           # VOLUME DOWN
EQUAL           25           # VOLUME UP